

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

#betterfont {
  text-align: center !important;
  font-style: italic !important;
  font-family: cursive !important;
  font-family: myFirstFont !important;
}

.jumbotron {
  background-image: url(../img/meandwife1.jpg);
  background-size: cover;
  background-position: 50% 20%;
  min-height: 400px;
  max-width: 1200px;
}

.red, #red {
  color: #b1214d;
}
